@mixin borders ($left-top: #FFF, $right-bottom: #999) {
    border: {
        width: 4px;
        style: solid;
        right-color: $right-bottom;
        bottom-color:$right-bottom;
        left-color: $left-top;
        top-color: $left-top;
    }
}

@mixin buttons {
    &:active {
        border: {
            right-color: #FFF;
            bottom-color:#FFF;
            left-color: #7b7b7b;
            top-color: #7b7b7b;
        }
    }
}